/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./badges.css');
@import url('./back-link.css');
body {
  margin: 0;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  justify-content: center;
}

.gallery-item {
  width: 360px;
  height: 200px;
  transition: transform 0.3s ease;
}

.gallery-item:hover {
  transform: scale(1.05);
}

.gallery-link {
  display: block;
  width: 100%;
  height: 100%;
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.basicLightbox {
  background: rgba(0, 0, 0, 0.8);

  z-index: 1000;

}

.basicLightbox,
.basicLightbox__placeholder {
  transition: 0.4s ease;

}

.basicLightbox img {
  max-width: 90vw;
  max-height: 90vh;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.feedback-form {
  background-color: #ffffff;
  padding: 24px;
  border: 1px solid rgba(46, 47, 66, 0.1);
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  width: 400px;
}


.feedback-form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  color: rgba(46, 47, 66, 1);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
}

.feedback-form input,
.feedback-form textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 8px 16px;
  margin-top: 8px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
  border-color: rgba(46, 47, 66, 0.8);

}

.feedback-form input:focus,
.feedback-form textarea:focus {
  outline: none;
  border-color: #4e75ff;
  box-shadow: 0 0 0 1px #4e75ff;
}

.feedback-form textarea {
  resize: vertical;
}

.feedback-form button[type="submit"] {
  background-color: #4E75FF;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.feedback-form button[type="submit"]:hover {
  background-color: #6c8cff;
}

.container {
  margin-bottom: 24px;
}

.main-title {
  font-size: 24px;
  margin-bottom: 10px;
}